body{ 
	margin: 0;
	background: #ffffff;
	font-family: 'Work-Sans', sans-serif;
	font-weight: 300;
}

.container{ 
	width: 80%;
	margin: 0 auto;
}

header{
	background: #E9F0E8;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.logo{
	float: left;
	padding: 10px 0;
}

nav{
	float: right;
}

nav ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

nav li{
	display: inline-block;
	margin-left: 70px;
	padding-top: 20px;

	position: relative;
}

nav a{
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

nav a:hover{
	color: #000;
}

nav a::before{
	content: '';
	display: block;
	height: 5px;
	background-color: #444;

	position: absolute;
	top: 0;
	width: 0%;

	transition: all ease-in-out 250ms;
}

nav a:hover::before{
	width: 100%;
}

nav li:hover a{
	color: #fff;
}

.submenu{
	position: absolute;
	background: #444;
	width: 250%;
	display: none;
}

nav li:hover .submenu{
	display: block;
}

.submenu li{
	display: block;
}

.submenu a{
	padding: 0;
}